* {
    text-decoration: none;
    color: inherit
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0.459)
}
.navigation nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: inherit;
}
.navigation nav .brand-name span {
    font-weight: bolder;
    font-size: 25px
}
.navigation nav button {
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Artifika";
    color: rgb(248, 232, 232)
}
.navigation nav .log-out {
    background-color: rgba(206, 83, 83, 0.671)
}
.navigation nav .log-in {
    background-color: rgba(6, 177, 6, 0.678)
}
.navigation nav .cart {
    background-color: rgba(25, 25, 223, 0.473)
}
.navigation nav .sign-up {
    background-color: rgba(158, 144, 144, 0.74)
}